#safe: true
email: info@tinycodes.io
description: >- # this means to ignore newlines until "baseurl:"
  TinyCodes is a world class software and app design and development company;
  Leading software and app design, creation and consulting.
  TinyCodes is expert at Web Site (Static and Dynamic), Web app, Desktop app (Windows, Mac and Linux), Mobile app (iOS and Android), Cloud computing (AWS) Machine learning, AI and other fields.
  TinyCodes is based in Lalitpur, Nepal.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://tinycodes.io"
facebook_username: tinycodes.io
twitter_username: tiny_codes
linkedin_username:  tiny-codes

paginate: 2
paginate_path: '/blog/page:num/'
permalink: /blog/:title

# Build settings
markdown: kramdown

# Plugins
plugins:
  - jekyll-feed
  - jekyll-paginate

# Default settings
defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
      type: "pages"
    values:
      layout: "default"

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
