 <!--------------- Footer -------------->
    <footer>
        <div class="container text-center">
            <!-- <a class="logo-footer wow animated fadeInDown" data-wow-duration="1.5s" href="#"><img src="assets/img/tech-icons/tc-s-logo.png" alt="..."></a> -->
            <a class="logo-footer wow animated fadeInDown" data-wow-duration="1.5s" href="#"><h1 class="copyright">&lt;TinyCodes/&gt;</h1></a>
            <div class="socials wow animated fadeIn" data-wow-duration="1.5s">
                <a href="https://www.facebook.com/tinycodes.io" class="social" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/tiny_codes" class="social" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/tiny-codes/" class="social" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <p class="copyright wow animated fadeInUp" data-wow-duration="1.5s">&copy; TinyCodes {{ "now" | date: "%Y" }}. All Rights Reserved.</p>
        </div>
    </footer>
    
    <a id="to-top" class="to-top" href="#top-header" data-spy="affix" data-offset-top="500"><i class="fa fa-chevron-up"></i></a>
    
    <!--------------- Script -------------->
    <link rel="stylesheet" href="{{"/assets/css/animate.css" | relative_url }}">
    <script src="{{"/assets/js/jquery.min.js" | relative_url }}"></script>
    <script src="{{"/assets/js/bootstrap.min.js" | relative_url }}"></script>
    <script src="{{"/assets/js/owl.carousel.min.js" | relative_url }}"></script>
    <script src="{{"/assets/js/jquery.magnific-popup.min.js" | relative_url }}"></script>
    <script src="{{"/assets/js/visible.js" | relative_url }}"></script>
    <script src="{{"/assets/js/wow.min.js" | relative_url }}"></script>
    <script src="{{"/assets/js/jquery.countTo.js" | relative_url }}"></script>
    <script src="{{"/assets/js/jquery.ajaxchimp.min.js" | relative_url }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmiJjq5DIg_K9fv6RE72OY__p9jz0YTMI"></script>
    <script src="{{"/assets/js/map.js" | relative_url }}"></script>
    <script src="{{"/assets/js/custom.js" | relative_url }}"></script>