<!-- <header id="top-header" class="top-header section-bg bookv2"> -->
<header id="top-header" class="top-header section-bg">
    <img class="img-responsive bookv2" src="assets/img/bg/8.jpg" alt="background image">
    <div class="verticle-center">
        <div class="container">
            <div class="row">
                <div class="display-flex">
                    <div class="col-lg-7 col-md-6">
                        <h1>Welcome to &lt;TinyCodes/&gt;</h1>
                        <p>MAKING SOFTWARE CREATION CHEAP EASY TIMELY</p>
                         <div class="button-group">
                           <a class="btn btn-white" href="#our-services-area">Our Services</a>
                        </div>
                    </div>
                    <!-- <div class="col-lg-5 col-md-6 hidden-sm hidden-xs">
                        <div class="mock-group mock-group-2">
                            <img class="back-mock wow animated fadeInUp"  data-wow-duration="1.5s" src="assets/img/mocks/b2.png" alt="...">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</header>