<!--------------- Navbar -------------->
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="500">
  <div class="container">
  
    <!--------------- Brand and toggle -------------->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">&lt;TinyCodes/&gt;</a>
    </div>

    <!--------------- Main Nav ---------->
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#top-header">HOME</a></li>
        <li><a href="#our-services-area">OUR SERVICES</a></li>
        <li><a href="#why-us-area">WHY US</a></li>
        <li><a href="#technology-area">TECHNOLOGY</a></li>
        <li><a href="#reviews-area">REVIEWS</a></li>
        <li><a href="#contact-area">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>