<!--------------- Reviews -------------->
<div id="reviews-area" class="section section-padding section-bg review-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="section-heading">
                    <h2 class="section-title">Reviews</h2>
                    <p class="section-subtitle">Some of our happy clients explaining about their experience with Tiny Codes team. We are proud to provide them with successful software for business.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div id="reviews" class="reviews">
                    <div id="review-carousel" class="review-carousel owl-carousel">
                        <div class="review text-center">
                            <div class="reviewer-mock"><img src="assets/img/reviewer/Manoj.png" alt="..."></div>
                            <p class="review-comment">“Tiny Codes is a good company to work with. They have understood our requirement and developed the app accordingly. Let your idea be anything they will make it real for you.”</p>
                            <h4 class="commenter-name">Manoj Bhusal</h4>
                            <p class="commenter-profession"><span class="designation">Qubex</span><span class="company"></span></p>
                        </div>
                        <div class="review text-center">
                            <div class="reviewer-mock"><img src="assets/img/reviewer/Prashant.png" alt="..."></div>
                            <p class="review-comment">“ It was an awesome experience with Tiny Codes. Right from the beginning of the software development project, the team showed their top-notch skills and talent. Throughput the project timeline, they were always easy to communicate with us and always made things happen”</p>
                            <h4 class="commenter-name">Prashant Khadka</h4>
                            <p class="commenter-profession"><span class="designation">KTMLabs</span><span class="company"></span></p>
                        </div>
                        <div class="review text-center">
                            <div class="reviewer-mock"><img src="assets/img/reviewer/Sajaya.jpg" alt="..."></div>
                            <p class="review-comment">"... we really feel fortunate to have identified Tiny Codes as our partner."</p>
                            <h4 class="commenter-name">Sajaya Shrestha</h4>
                            <p class="commenter-profession"><span class="designation">Meraki</span><span class="company"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
